@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-sunny{
    background-image: url('../weatherconditionimgs/sunny.png') ;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.txt-black{
    color: black;
}
.brd-black{
    border-color: black;
}